# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp

# Build / sim outputs
build/
out/
dist/
work/
sim/
xsim.dir/
xcelium.d/
fv/
fv/trng_wrapper/
modelsim.ini
transcript
vsim.wlf
*.wlf
*.vcd
*.vpd
*.fst
*.lxt
*.log
xrun.*
*.shm
*.diag
.simvision/
genus.*
!genus.tcl
.pbs_ece008.ece.local.cmu.edu_2370805/
.rs_hsuanjul.tstamp

